<!doctype html>
<html lang="en">

<!-- Mirrored from cvresumetemplate.com/maha-personal-cv-resume-html-template/home-one-w.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Sep 2022 06:58:42 GMT -->

<head>
    <title>MAHIM | CV</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Maha Personal cv/resume template for professional and personal website." />
    <meta name="keywords"
          content="creative, cv, designer,  online cv, online resume, powerful portfolio, professional, professional resume, responsive, resume, vcard " />
    <meta name="developer" content="Md. Siful Islam">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font-->
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="~/Content/Plugins/css/animate.css">
    <!-- Owl Carousel CSS-->
    <link rel="stylesheet" href="~/Content/Plugins/css/owl.css">
    <!-- Fancybox-->
    <link rel="stylesheet" href="~/Content/Plugins/css/jquery.fancybox.min.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/responsive.css">

    <!-- Colors -->
    <link rel="alternate stylesheet" href="~/Content/colors/blue.css" title="blue">
    <link rel="stylesheet" href="~/Content/colors/defauld.css" title="defauld">
    <link rel="alternate stylesheet" href="~/Content/colors/green.css" title="green">
    <link rel="alternate stylesheet" href="~/Content/colors/blue-munsell.css" title="blue-munsell">
    <link rel="alternate stylesheet" href="~/Content/colors/orange.css" title="orange">
    <link rel="alternate stylesheet" href="~/Content/colors/purple.css" title="purple">
    <link rel="alternate stylesheet" href="~/Content/colors/slate.css" title="slate">
    <link rel="alternate stylesheet" href="~/Content/colors/yellow.css" title="yellow">
</head>

<body class="white-vertion black-bg">
    <!-- Start Loader -->
    <div class="section-loader">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End Loader -->
    <!--
    ===================
       NAVIGATION
    ===================
    -->
    <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav wow fadeInUp" id="mh-header">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                    <a class="navbar-brand" href="#">
                        <img src="~/images/MT.png" alt="" class="img-fluid">
                    </a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-0 ml-auto">
                            <li id="profile" class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "Cv")'>Profile</a>
                            </li>
                            <li id="education" class="nav-item">
                                <a class="nav-link" href='@Url.Action("Education", "Cv")'>Education</a>
                            </li>
                            <li id="projects" class="nav-item">
                                <a class="nav-link" href='@Url.Action("Projects", "Cv")'>Project</a>
                            </li>
                            <li id="reference" class="nav-item">
                                <a class="nav-link" href='@Url.Action("Reference", "Cv")'>Reference</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!--
    ===================
       Contaner section
    ===================
    -->

    @RenderBody()

    <!--
    ===================
   Contaner section END
    ===================
    -->
    <!--
    ===================
       FOOTER 1
    ===================
    -->
    <footer class="mh-footer" id="mh-contact">
        <div class="map-image image-bg">
            <div class="container">
                <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-left text-xs-center">
                                <p>All right reserved Md. Mahim Talukder 2022</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--
    ==============
    * JS Files *
    ==============
    -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="~/Content/Plugins/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="~/Content/Plugins/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/Plugins/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="~/Content/Plugins/js/owl.carousel.js"></script>
    <!-- validator -->
    <script src="~/Content/Plugins/js/validator.min.js"></script>
    <!-- wow -->
    <script src="~/Content/Plugins/js/wow.min.js"></script>
    <!-- mixin js-->
    <script src="~/Content/Plugins/js/jquery.mixitup.min.js"></script>
    <!-- circle progress-->
    <script src="~/Content/Plugins/js/circle-progress.js"></script>
    <!-- jquery nav -->
    <script src="~/Content/Plugins/js/jquery.nav.js"></script>
    <!-- Fancybox js-->
    <script src="~/Content/Plugins/js/jquery.fancybox.min.js"></script>
    <!-- isotope js-->
    <script src="~/Content/Plugins/js/isotope.pkgd.js"></script>
    <script src="~/Content/Plugins/js/packery-mode.pkgd.js"></script>
    <!-- Map api -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>
    <!-- Custom Scripts-->
    <script src="~/Scripts/map-init.js"></script>
    <script src="~/Scripts/custom-scripts.js"></script>


    <!-- ****************
      After neccessary customization/modification, Please minify
      JavaScript/jQuery according to http://browserdiet.com/en/ for better performance
    **************** -->
    <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
</body>


</html>
